{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="grad"></div>

    <section id="signup">
        <p class="heading">create add</p>
        <form method="post">
          {% csrf_token %}
          <input type="text" placeholder="addres" name="addres" required class="inputField"/>
          <input type="number" placeholder="price" name="price" required class="inputField"/>
          <input type="number" placeholder="weating hours" name="weating" required class="inputField"/>
          <input type="number" placeholder="working hours" name="working" id="" required class="inputField">
          <input type="tel" placeholder="phone number" name="phone" required class="inputField" />
          
          
          
          <input type="submit" value="sign up" class="submit">
        </form>
      </section>

{% endblock content %}


