{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grad"></div>

<section id="signUp">
    <h1> create your profile </h1>


    <form method="POST" class='signUpForm' enctype="multipart/form-data">

        {% csrf_token %}
    
    
    <h1>select image for your profile</h1>
    <div>
        {{epif.phone.label}}
        {{epif.phone}}
    
    </div>
    <h1>set your Phone number</h1>
    
    <div>
        {{epif.img.label}}
        {{epif.img}}
    
    </div>
    
    <div>
        {{epif.are_you_doctor.label}}
        {{epif.are_you_doctor}}
    
    </div>
    <div>
        {{epif.errors}}
        
    
    </div>
    
    <input type="submit" value="done" class="submit">
    
    </form>
    
    

</section>





{% endblock content %}