{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grad"></div>


<h1>{{check}}</h1>
  <section id="view" data-highlight="false">
    
    {% for card in cards %}
    {% comment %} {% include 'parts/landing.html'%} {% endcomment %}
    <div class="card">
      <div class="top">
        <p class="name">{{card.user.first_name}}</p>
      </div>
      <div class="bottom">
        <span class="left">
          {% comment %} <img src="{{'media'}}\{{x.img}}" alt="" class="DocImg" /> {% endcomment %}
        </span>
        <span class="mid">
          <ul data-highlight="false">
            <li>
              <img src="{% static 'img/dental-care.png' %}" alt="" />
              {{card.address}}
            </li>
            <li>
              <img src="{% static 'img/dental-care.png' %}" alt="" />

              {{card.price}}
            </li>
            <li>
              <img src="{% static 'img/dental-care.png' %}" alt="" />

              {{card.weatingHours}}
            </li>
            <li>
              <img src="{% static 'img/dental-care.png' %}" alt="" />

              {{card.workingHours}}
            </li>
            <li>
              <img src="{% static 'img/dental-care.png' %}" alt="" />

              {% comment %} {{x.phone}} {% endcomment %}
            </li>
          </ul>
        </span>
        <span class="right">
          <a href="" class="book">book now</a>
        </span>
      </div>
     
    </div>
      
    
      
    
    {% endfor %}
      

    
    
  </section>
  <section id="testmon">
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="">book now</a>
      </div>
    </div>
  </section>


  

{% endblock content %}